:root {
   /** Theme agnostic */
   --White-text: hsl(0, 0%, 100%);

   /** Theme 1 */
   --Very-dark-desaturated-blue-mainbg: hsl(222, 26%, 31%);
   --Very-dark-desaturated-blue-togglebg-keypadbg: hsl(223, 31%, 20%);
   --Very-dark-desaturated-blue-screenbg: hsl(224, 36%, 15%);

   --Desaturated-dark-blue-keybg: hsl(225, 21%, 49%);
   --Desaturated-dark-blue-keyshadow: hsl(224, 28%, 35%);
   --Red-keybg-toggle: hsl(6, 63%, 50%);
   --Dark-red-keyshadow: hsl(6, 70%, 34%);
   --Light-grayish-orange-keybg: hsl(30, 25%, 89%);
   --Grayish-orange-keyshadow: hsl(28, 16%, 65%);

   --Very-dark-grayish-blue-text: hsl(221, 14%, 31%);

   /** Theme 2 */
   --Light-gray-mainbg: hsl(0, 0%, 90%);
   --Grayish-red-togglebg-keypadbg: hsl(0, 5%, 81%);
   --Very-light-gray-screenbg: hsl(0, 0%, 93%);

   --Dark-moderate-cyan-keybg: hsl(185, 42%, 37%);
   --Very-dark-cyan-keyshadow: hsl(185, 58%, 25%);
   --Orange-keybg-toggle: hsl(25, 98%, 40%);
   --Dark-orange-keyshadow: hsl(25, 99%, 27%);
   --Light-grayish-yellow-keybg: hsl(45, 7%, 89%);
   --Dark-grayish-orange-keyshadow: hsl(35, 11%, 61%);

   --Very-dark-grayish-yellow-text: hsl(60, 10%, 19%);

   /** Theme 3 */
   --Very-dark-violet-mainbg: hsl(268, 75%, 9%);
   --Very-dark-violet-togglebg-keypadbg-screenbg: hsl(268, 71%, 12%);

   --Dark-violet-keybg: hsl(281, 89%, 26%);
   --Vivid-magenta-keyshadow: hsl(285, 91%, 52%);
   --Pure-cyan-keybg-toggle: hsl(176, 100%, 44%);
   --Soft-cyan-keyshadow: hsl(177, 92%, 70%);
   --Very-dark-violet-keybg: hsl(268, 47%, 21%);
   --Dark-magenta-keyshadow: hsl(290, 70%, 36%);

   --Light-yellow-text: hsl(52, 100%, 62%);
   --Very-dark-blue-text: hsl(198, 20%, 13%);
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
.league-spartan {
   font-family: "League Spartan", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
