:root {
   --main-bg: hsl(222, 26%, 31%);
   --toggle-and-keypad-bg: hsl(223, 31%, 20%);
   --screen-bg: hsl(224, 36%, 15%);

   --light-key-bg: hsl(30, 25%, 89%);
   --light-key-shadow: hsl(28, 16%, 65%);
   --key-bg: hsl(225, 21%, 49%);
   --key-shadow: hsl(224, 28%, 35%);
   --extra-key-bg_toggle: hsl(6, 63%, 50%);
   --extra-key-shadow: hsl(6, 70%, 34%);

   --regular-text: hsl(221, 14%, 31%);
   --extra-text: hsl(0, 0%, 100%);
   --title-text: hsl(0, 0%, 100%);
   --white-text: hsl(0, 0%, 100%);
}
.theme2 {
   --main-bg: hsl(0, 0%, 90%);
   --toggle-and-keypad-bg: hsl(0, 5%, 81%);
   --screen-bg: hsl(0, 0%, 93%);

   --light-key-bg: hsl(45, 7%, 89%);
   --light-key-shadow: hsl(35, 11%, 61%);
   --key-bg: hsl(185, 42%, 37%);
   --key-shadow: hsl(185, 58%, 25%);
   --extra-key-bg_toggle: hsl(25, 98%, 40%);
   --extra-key-shadow: hsl(25, 99%, 27%);

   --regular-text: hsl(60, 10%, 19%);
   --title-text: hsl(60, 10%, 19%);
}
.theme3 {
   --main-bg: hsl(268, 75%, 9%);
   --toggle-and-keypad-bg: hsl(268, 71%, 12%);
   --screen-bg: hsl(268, 71%, 12%);

   --light-key-bg: hsl(268, 47%, 21%);
   --light-key-shadow: hsl(290, 70%, 36%);
   --key-bg: hsl(281, 89%, 26%);
   --key-shadow: hsl(285, 91%, 52%);
   --extra-key-bg_toggle: hsl(176, 100%, 44%);
   --extra-key-shadow: hsl(177, 92%, 70%);

   --regular-text: hsl(52, 100%, 62%);
   --title-text: hsl(52, 100%, 62%);
   --extra-text: hsl(198, 20%, 13%);
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
.league-spartan {
   font-family: "League Spartan", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: var(--main-bg);
   padding: 1rem;
}

.grid {
   display: grid;
}

.main-div {
   gap: 1rem;
}

.result {
   padding: 1rem;
   background-color: var(--screen-bg);
   border-radius: 0.5em;
   text-align: right;
}

.keypad {
   margin-bottom: 1rem;
   padding: 1rem;
   border-radius: 0.5em;
   background-color: var(--toggle-and-keypad-bg);
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   gap: 1rem 0.5rem;
}

.key {
   border: none;
   border-radius: 0.25em;
   height: 50px;
}

.key-light {
   background-color: var(--light-key-bg);
   color: var(--regular-text);
   font-size: 1.5em;
   width: 50px;
   box-shadow: 0 4px var(--light-key-shadow);
}
.key-highlight {
   background-color: var(--key-bg);
   color: var(--white-text);
   font-size: 1em;
   width: 50px;
   box-shadow: 0 4px var(--key-shadow);
}
.key-extrahighlight {
   background-color: var(--extra-key-bg_toggle);
   color: var(--extra-text);
   font-size: 1em;
   grid-column: 3 / span 2;
   width: 116px;
   box-shadow: 0 4px var(--extra-key-shadow);
}

#key-reset {
   grid-column: 1 / span 2;
   width: 116px;
}

h1 {
   font-size: 2em;
}

h1,
h2 {
   color: var(--title-text);
}

.attribution {
   font-size: 11px;
   text-align: center;
   color: var(--title-text);
}
.attribution a {
   color: var(--title-text);
}
